@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


*{
  font-family: 'Comfortaa', cursive;
}

.App {
  text-align: center;
}

.flexImg {
  max-width: 50%;
  height: auto;
  width: auto\9;
}

section {
  /* margin-top: 25vh; */
  height: 100vh;
  /* position: relative; */
}
#Landing {
  margin-top: 0vh;
}

#About {
  /* height: 50vh; */
}

#Projects {
  /* margin-top: 30vh; */
  height: 100vh;
}

#Contact {
  margin-top: 25vh;
  height: 75vh;
}

.glassPanel {
  background-color: rgba(255, 255, 255, .30);
  backdrop-filter: blur(5px);
}


@media only screen and (max-width: 767px) { 
  #Projects {
    margin-top:75vh
  }

  #Contact {
    margin-top:75vh
  }

}







